body {
  font-family: monospace;
  font-size: large;
  padding: 2rem;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 16px;
  margin-bottom: 8px;
  padding-bottom: 3px;
  border-bottom: 2px solid tomato;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}

ul {
  margin-top: 0;
  list-style-type: none;
  text-wrap: nowrap;
}

button {
  max-width: fit-content;
  font-family: monospace;
  background-color: #ffdabe;
  padding: 0.5rem;
  font-size: 1.03rem;
}

button:hover {
  background-color: tomato;
  color: #fff;
  font-weight: 900;
  transition: 200ms;
}
footer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.tick-box {
  cursor: pointer;
  margin: 1rem;
  transform: scale(2);
  accent-color: #080;
}

.poem-item {
  margin: 3rem;
  border: 2px solid white;
  padding: 1rem;
}

.poem-text {
  font-size: 2rem;
  padding: 1rem;
}

.loading-text span {
  position: relative;
  opacity: 0;
  animation: move-text-colour 1.5s forwards infinite;
}

.add-poem {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  label {
    width: 100%;
  }
  footer {
    bottom: 0;
    width: 100vw;
  }
  .clear-local-storage {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 400px) {
  ul {
    overflow: scroll;
  }
  .li:hover {
    transform: none;
    overflow: visible;
  }
}

@keyframes move-text-colour {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #ff4763;
  }

  40% {
    bottom: 0.2em;
    color: #ff6347;
  }

  60% {
    bottom: 0;
    opacity: 1;
    color: #000;
  }
}
